<nav class="col-2">
  <a href="/"><i class="fab fa-twitter"></i></a>
  <a href="/"><i class="fas fa-home"></i><h4>Home</h4></a>
  <a href="/profile"><i class="far fa-user"></i><h4>Profile</h4></a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i><h4>Logout</h4></a>
</nav>
